@font-face {
    font-family: pokemon;
    src: url('Pokemon Solid.ttf');
}
* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(202, 0, 0);
    height: 100%;
    font-family: 'pokemon';
}

.pokemon-atual{
    height: 150px;
}

.card-total{
    display: flex;
    margin: 20px 20px 0px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("https://media.istockphoto.com/photos/white-paper-texture-background-picture-id1293996796?b=1&k=20&m=1293996796&s=170667a&w=0&h=ot-Q4dcJynVUxQyjU5P7i4qPZxmoWmPC0M09R53D8j8=");
    background-size: 200px;
}

.card-header{
    background-image: url("https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 300%;
}

.pokemon-icon{
    height: 100px;
    align-items: center;
    margin-left: 100px;
}
.img-pokemon{
    height: 300px;
}

.card-left{
    margin: 50px 0px 0px 0px;
}

.content{
    margin-top: 50px;
    font-size: 35px;
}
.break{
    flex-basis: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

.button{
    text-decoration: none;
    color: white;
}